# Demystifying Decision Trees - Homework

In [1]:
import pandas as pd
import numpy as np
#from google.colab import drive
from matplotlib import pyplot as plt
import matplotlib
%matplotlib inline

In [2]:
from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor as DTR

### Get the data

In [3]:
#drive.mount('/content/drive')

In [4]:
data = pd.read_csv('data/house_pricing/train.csv')

### Let's take a look at the house pricing data, we have both categoric and numeric

In [5]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Clean the data (null, categorical) and pick a valid dataset with numerical features

### Manually - find the best first split out all of the numeric features
remember - split in regression is looking for the best gain in **MSE**

### Now run an exhaustive search (check all the combinations of couples of splits) to find the best 1st and 2nd split

### Check the RMSE of your best model

### Train a Tree with max_depth of 2 steps.

### Compare its RMSE to the optimal best split you found earlier

### Split the dataset and tune the model hyperparams to optimize the RMSE on Test set

### Check the feature importance

### Retrain the model with only top 3 features and compare the performance

### Extra - try to visualize the tree
https://medium.com/@rnbrown/creating-and-visualizing-decision-trees-with-python-f8e8fa394176